.topo{
    font-family: Arial, Helvetica, sans-serif;
    /* padding: 20px;
    text-align: center;
    background: aliceblue;
    color: black;
    
    position: 100%;
    height: 100%;
    box-sizing: content-box;
    border-bottom-left-radius:10px ;
    border-bottom-right-radius:10px ; */
    align-items: center;
    background-color: #fff;
    display: flex;
    height: 20px;
    justify-content: space-between;
    padding: 0 8px 0 12px;
    position: relative;
    z-index: 2;
    border-bottom-left-radius:10px ;
    border-bottom-right-radius:10px ;

    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    
/*translucides topo*/

    margin: 0px;
    padding: 20px;
    align-items: center;
}

.login{
   background-color: white;
    border: none;
    padding:10px  ;
    border-radius: 10px;
    float: right;
    
}
body{
    background-image: "../asse";
    background-image: url(../assets/Folhas.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;


    
}
html, body{
    margin: 0;
    padding: 0;
}

.logo{
    height: 50px;
}

.corpo{
    color: white;
    background-color: red;
    height: 850px;
    width: 80%;
    float: left;
    border-radius: 10px;
}

.corpo-dir{
    float: right;
    width: 20%;
    background-color: yellow;
    height: 850px;
}

footer{
    background-color: green;
    
}